.flex-row {
  flex-direction: row;
}
.flex {
  flex-direction: column;
}
.flex-center-column {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.fz26 {
  font-size: 26upx;
}
.fz28 {
  font-size: 28upx;
}
.fz30 {
  font-size: 30upx;
}
.fz32 {
  font-size: 32upx;
}
.fz34 {
  font-size: 34upx;
}
.fz36 {
  font-size: 36upx;
}
.app-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: -.5px;
  z-index: 2;
  padding: 5upx 0;
  border-style: solid;
  border-top-width: .5px;
  border-color: rgba(255,255,255,0.1);
  background-color: rgba(30,30,39,0.1);
}
.app-footer-active {
  background-color: #1e1e27;
}
.app-footer-ul {
  flex-direction: row;
}
.app-footer-li {
  flex: 1;
  height: 90upx;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app-footer-li-white {
  color: rgba(255,255,255,0.6);
  font-size: 24upx;
  margin-top: 6upx;
}
.app-footer-li-ico {
  width: 45upx;
  height: 45upx;
}
.app-footer-li-active {
  color: #f7224e;
}
.app-footer-li-center {
  width: 76upx;
  height: 76upx;
  border-radius: 50%;
  overflow: hidden;
}
.app-footer-li-ico1 {
  width: 76upx;
  height: 76upx;
}
.home-video-wrap {
  flex: 1;
}
.home-myvideo {
  flex: 1;
  height: 1000upx;
  width: 750upx;
}
.home-personal {
  position: absolute;
  right: 30upx;
  z-index: 2;
  bottom: 140upx;
}
.home-personal-img {
  width: 80upx;
  height: 80upx;
}
.home-personal-img1 {
  width: 90upx;
  height: 90upx;
}
.home-personal-img2 {
  width: 50upx;
  height: 50upx;
  position: absolute !important;
  left: 22upx;
  top: 22upx;
  border-radius: 50%;
}
.home-personal-li {
  margin-top: 30upx;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home-personal-li-last {
  margin-top: 60upx;
}
.home-personal-span {
  color: #fff;
  font-size: 30upx;
  margin-top: 4upx;
}
.h-picture {
  position: relative;
  width: 100upx;
  height: 120upx;
}
.h-pict {
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: #fff;
  border-width: 3upx;
}
.h-pict-image {
  width: 96upx;
  height: 96upx;
  border-radius: 50%;
}
.h-add-ico-wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: row;
  justify-content: center;
}
.h-add-ico {
  width: 40upx;
  height: 40upx;
}
.home-content {
  position: absolute;
  left: 30upx;
  bottom: 140upx;
  flex-direction: column;
  width: 405upx;
}
.content-title {
  color: #fff;
  font-size: 30upx;
  font-weight: bold;
}
.content-desc {
  color: #fff;
  font-size: 30upx;
  margin-top: 20upx;
  line-height: 40upx;
}
.play-status {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.1);
}
.play-status-img {
  width: 80upx;
  height: 80upx;
  opacity: 0.6;
}
.pub-video-select {
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.pub-video-ul {
  height: 360upx;
  background-color: #fff;
  border-top-right-radius: 30upx;
  border-top-left-radius: 30upx;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 90upx;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.pub-video-li {
  width: 240upx;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 280upx;
}
.pub-video-img {
  width: 60upx;
  height: 60upx;
}
.pub-video-text {
  color: #333;
  margin-top: 20upx;
  font-size: 30upx;
}
.pub-video-close {
  position: absolute;
  bottom: 20upx;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}
.pub-video-close-wrap {
  width: 76upx;
  height: 76upx;
  border-radius: 50%;
  background-color: rgba(204,204,204,0.2);
  justify-content: center;
  align-items: center;
}
.pub-video-close-img {
  width: 30upx;
  height: 30upx;
  opacity: 0.7;
}
.home-search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100upx;
  justify-content: space-between;
  flex-direction: row;
  z-index: 50;
}
.home-search-center {
  width: 200upx;
  height: 100upx;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.home-search-title {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 70upx;
}
.home-search-title-txt {
  color: #fff;
  opacity: 0.6;
  font-size: 36upx;
  font-weight: bold;
}
.home-search-title-active {
  opacity: 1;
}
.home-search-title-line {
  background-color: #fff;
  border-radius: 10upx;
  height: 4upx;
  position: absolute;
  bottom: 0;
  left: 16upx;
  right: 16upx;
}
.search-fr {
  align-items: center;
  height: 100upx;
  width: 100upx;
  justify-content: center;
}
.search-fr-image {
  width: 40upx;
  height: 40upx;
  opacity: 0.6;
}
.home-live-fl {
  width: 100upx;
  height: 100upx;
  justify-content: center;
  align-items: center;
}
.status-app {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #111118;
}
.my-task {
  padding: 0 30upx;
  margin-top: 30upx;
}
.my-task-ul {
  flex-direction: column;
  display: flex;
}
.my-task-li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  padding: 20upx 0;
}
.my-task-li-ico {
  width: 50upx;
  height: 94upx;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-task-li-image {
  width: 50upx;
  height: 50upx;
}
.my-task-li-text {
  flex: 1;
  padding-left: 20upx;
}
.my-task-li-h2 {
  font-size: 32upx;
  color: #fff;
}
.my-task-li-p {
  color: rgba(255,255,255,0.6);
  display: block;
  margin-top: 5upx;
  font-size: 26upx;
}
.my-task-li-fr {
  height: 94upx;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-task-li-b {
  width: 126upx;
  height: 59upx;
  border-radius: 6upx;
  color: #fff;
  line-height: 59upx;
  display: block;
  background-color: #f7224e;
  text-align: center;
  font-size: 26upx;
}
.pict-wrap-top {
  flex-direction: row;
  padding-bottom: 24upx;
}
.pict-wrap-top-text {
  flex: 1;
  height: 120upx;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 40upx;
}
.pict-wrap-top-text-phone {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pict-wrap-top-text-phone-h1 {
  float: left;
  color: #fff;
  font-size: 34upx;
}
.pict-wrap-top-text-phone-wei {
  color: rgba(255,255,255,0.6);
  float: left;
  margin-left: 30upx;
  font-size: 24upx;
}
.pict-wrap-top-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pict-wrap-top-wrap-id {
  font-size: 34upx;
  color: #fff;
}
.pict-wrap-top-wrap-xin {
  margin-left: 30upx;
  flex-direction: row;
}
.pict-wrap-top-wrap-xin-image {
  width: 30upx;
  height: 30upx;
}
.pict-wrap-top-wrap-xin-text {
  color: #f60;
  margin-left: 6upx;
  font-size: 26upx;
}
.pict-wrap-top-wrap-xin-text:nth-of-type(1) {
  margin-left: 0;
}
.pict-wrap-top-wrap-desc {
  float: left;
  color: rgba(255,255,255,0.6);
  font-size: 24upx;
  margin-left: 20upx;
}
.list-menu-1-ul {
  flex-direction: row;
  justify-content: space-around;
}
.list-menu-1-li {
  padding: 25upx 0;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list-menu-1-image {
  width: 92upx;
  height: 92upx;
}
.list-menu-1-text {
  display: block;
  margin-top: 20upx;
  color: rgba(255,255,255,0.6);
  font-size: 26upx;
  text-align: center;
}
.list-menu {
  padding: 0 30upx;
  margin-top: 30upx;
}
.list-menu-layout {
  background-color: #1e1e27;
  border-radius: 10upx;
  flex-direction: column;
}
.list-menu-layout-h3 {
  flex: 1;
  line-height: 80upx;
  padding: 0 30upx;
  border-bottom-width: .5px;
  border-bottom-color: rgba(255,255,255,0.4);
  border-bottom-style: solid;
  color: #fff;
  font-weight: bold;
  font-size: 30upx;
}
.user-layout {
  padding: 40upx 30upx 60upx;
  position: relative;
  flex-direction: column;
}
.user-layout-pict {
  width: 100upx;
  height: 100upx;
  border-radius: 50%;
  background: #1e1e27;
}
.user-layout-pict-image {
  width: 100upx;
  height: 100upx;
  border-radius: 50%;
}
.pict-wrap {
  float: left;
  position: relative;
  width: 100upx;
}
.leval {
  width: 40upx;
  height: 40upx;
  background-color: #6a25e2;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 70upx;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 2upx;
  border-color: #111118;
}
.leval-text {
  color: #fff;
  font-size: 20upx;
}
.vip {
  margin-top: 16upx;
  flex-direction: row;
  justify-content: center;
}
.vip-ico {
  color: #f4ea2a;
  font-size: 24upx;
}
.vip-txt {
  font-size: 24upx;
  color: #fff;
  margin-left: 4upx;
  white-space: nowrap;
}
.user-layout-dou {
  padding-top: 50upx;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}
.user-layout-left {
  width: 450upx;
  flex-direction: column;
}
.user-layout-h3 {
  color: #fff;
  font-size: 30upx;
}
.user-layout-number {
  margin-top: 15upx;
  flex-direction: row;
  align-items: flex-end;
}
.user-layout-sp1 {
  color: #fff;
  font-size: 76upx;
  font-family: 'din';
}
.user-layout-sp2 {
  color: #fff;
  font-size: 30upx;
  margin-bottom: 10upx;
  margin-left: 10upx;
}
.user-layout-right {
  width: 200upx;
  flex-direction: row;
  justify-content: flex-end;
}
.user-layout-text {
  color: #fff;
  display: block;
  margin-top: 20upx;
  font-size: 30upx;
}
.user-layout-text:nth-of-type(1) {
  margin-top: 0;
}
.user-layout-set {
  align-items: center;
  flex-direction: row;
  height: 120upx;
  position: absolute;
  right: 30upx;
  top: 0;
}
.iconfont-wrap {
  background-color: #1f1f29;
  width: 80upx;
  height: 80upx;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.iconfont-wrap-active {
  margin-left: 10upx;
}
.iconfont {
  font-family: 'iconfont';
}
.user-layout-set-ico1 {
  color: #fff;
  font-size: 38upx;
}
.liveness {
  background-color: #1e1e27;
}
.liveness-ul {
  flex-direction: row;
  justify-content: space-around;
}
.liveness-li {
  text-align: center;
  float: left;
  padding: 30upx 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.liveness-h2 {
  color: #fff;
  font-size: 40upx;
  font-family: 'din';
}
.liveness-p {
  margin-top: 10upx;
  color: rgba(255,255,255,0.6);
  font-size: 26upx;
}
.scroll-new {
  margin-top: 20upx;
  padding: 0 30upx;
  flex-direction: row;
  height: 80upx;
}
.scroll-new-layout {
  background-color: #1e1e27;
  border-radius: 10upx;
  padding: 0 30upx;
  height: 80upx;
  flex: 1;
  flex-direction: row;
}
.scroll-new-h3 {
  line-height: 80upx;
  color: #fff;
  font-size: 30upx;
}
.scroll-new-content {
  overflow: hidden;
  flex: 1;
  flex-direction: row;
  padding: 0 20upx;
}
.scroll-new-text {
  line-height: 80upx;
  color: rgba(255,255,255,0.6);
  flex: 1;
  lines: 1;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  font-size: 26upx;
  display: block;
  text-overflow: ellipsis;
}
.scroll-new-more {
  color: #fff;
  line-height: 80upx;
  font-size: 30upx;
}
.center-box-img {
  margin-top: 20upx;
  padding: 0 30upx;
}
.center-box-img-box {
  display: flex;
  flex-direction: row;
}
.center-box-img-image {
  flex: 1;
  height: 100upx;
}
.list-menu-layout-ul {
  display: flex;
  flex-direction: column;
}
.list-menu-2-li {
  flex-direction: row;
  flex: 1;
  border-top-style: solid;
  border-top-color: rgba(255,255,255,0.2);
  border-top-width: .5px;
}
.list-menu-2-li:first-child {
  border-top: none;
}
.list-menu-2-li-navigator {
  flex: 1;
  padding: 30upx 20upx 30upx 30upx;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.list-menu-2-li-p {
  color: rgba(255,255,255,0.6);
  font-size: 26upx;
  height: 40upx;
  flex: 1;
  line-height: 40upx;
  padding-left: 15upx;
}
.list-menu-2-li-ico {
  float: left;
  height: 40upx;
  opacity: 0.6;
  color: #fff;
  font-size: 34upx;
}
.list-menu-2-li-more {
  color: rgba(255,255,255,0.6);
  font-size: 26upx;
}
.comment-slide {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  top: 0;
  background-color: transparent;
}
.comment-slide-layout {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 1;
  height: 1000upx;
  border-top-left-radius: 30upx;
  border-top-right-radius: 30upx;
}
.comment-wrap {
  height: 805upx;
}
.comment-ul-list {
  height: 805upx;
}
.comment-title {
  display: flex;
  height: 100upx;
  flex-direction: row;
  justify-content: center;
  position: relative;
  align-items: center;
  border-bottom-width: .5px;
  border-bottom-color: #f1f1f1;
  border-bottom-style: solid;
}
.comment-h2 {
  color: #333;
  text-align: center;
  font-size: 28upx;
}
.comment-close-wrap {
  position: absolute !important;
  right: 0;
  top: 0;
  height: 100upx;
  width: 100upx;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.comment-close {
  width: 34upx;
  height: 34upx;
}
.comment-li {
  flex-direction: row;
  padding: 20upx 30upx;
  justify-content: space-between;
  border-top-style: solid;
  border-top-color: rgba(255,255,255,0.1);
  border-top-width: .5px;
}
.comment-pict {
  border-radius: 50%;
  width: 80upx;
  height: 80upx;
  background-color: #f1f1f1;
}
.comment-text {
  margin-left: 20upx;
  flex: 1;
}
.comment-pict-image {
  width: 80upx;
  height: 80upx;
  border-radius: 50%;
}
.comment-content-h2 {
  color: #333;
  opacity: 0.6;
  font-size: 26upx;
  font-weight: bold;
}
.comment-content {
  flex-direction: column;
  margin-top: 10upx;
}
.comment-content-h3 {
  color: #333;
  font-size: 30upx;
}
.comment-wrap-layout {
  flex-direction: row;
  margin-top: 6upx;
  align-items: center;
}
.comment-content-span {
  font-weight: bold;
  color: #333;
  font-size: 26upx;
  opacity: 0.5;
  margin-left: 20upx;
}
.comment-content-p {
  color: #333;
  font-size: 24upx;
  opacity: 0.6;
}
.comment-fr {
  flex-direction: column;
  opacity: 0.6;
  justify-content: center;
  align-items: center;
}
.comment-fr-s1 {
  width: 34upx;
  height: 34upx;
}
.comment-fr-s2 {
  color: #999;
  font-size: 26upx;
}
.input-text {
  position: absolute;
  background-color: #fff;
  z-index: 2;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: row;
  justify-content: space-between;
  padding: 15upx;
  border-top-width: .5px;
  border-top-color: #f1f1f1;
  border-top-style: solid;
}
.input-text-input {
  width: 530upx;
  height: 80upx;
  font-size: 30upx;
  padding: 0 20upx;
  color: #333;
}
.comment-btn {
  width: 150upx;
  height: 80upx;
  background-color: #f7224e;
  color: #fff;
  font-size: 30upx;
  text-align: center;
  line-height: 80upx;
}
