.flex {
  flex-direction: column;
}
.flex-center-column {
  align-items: center;
  flex-direction: column;
}
.fz30 {
  font-size: 30upx;
}
.fz32 {
  font-size: 32upx;
}
.fz34 {
  font-size: 34upx;
}
.fz36 {
  font-size: 36upx;
}
.app-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: #111118;
  padding: 5upx 0;
}
.app-footer-ul {
  flex-direction: row;
}
.app-footer-li {
  flex: 1;
  height: 90upx;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app-footer-li-white {
  color: rgba(255,255,255,0.6);
  font-size: 24upx;
  margin-top: 6upx;
}
.app-footer-li-ico {
  width: 45upx;
  height: 45upx;
}
.app-footer-li-active {
  color: #f7224e;
}
.app-footer-li-center {
  width: 76upx;
  height: 76upx;
  border-radius: 50%;
  overflow: hidden;
}
.app-footer-li-ico1 {
  width: 76upx;
  height: 76upx;
}
.home-video-wrap {
  flex: 1;
}
.home-myvideo {
  flex: 1;
}
.home-personal {
  position: fixed;
  right: 30upx;
  z-index: 2;
  bottom: 160upx;
}
.home-personal-img {
  width: 70upx;
  height: 70upx;
}
.home-personal-img1 {
  width: 90upx;
  height: 90upx;
}
.home-personal-img2 {
  width: 50upx;
  height: 50upx;
  position: absolute;
  left: 26upx;
  top: 22upx;
  border-radius: 50%;
}
.home-personal-li {
  margin-top: 40upx;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home-personal-li-last {
  margin-top: 100upx;
}
.home-personal-span {
  color: #fff;
  font-size: 24upx;
  margin-top: 4upx;
}
.h-picture {
  position: relative;
  width: 100upx;
  height: 120upx;
}
.h-pict {
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: #fff;
  border-width: 3upx;
}
.h-pict-image {
  width: 96upx;
  height: 96upx;
  border-radius: 50%;
}
.h-add-ico-wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: row;
  justify-content: center;
}
.h-add-ico {
  width: 40upx;
  height: 40upx;
}
.home-content {
  position: fixed;
  left: 30upx;
  bottom: 120upx;
  flex-direction: column;
  width: 405upx;
}
.content-title {
  color: #fff;
  font-size: 30upx;
  font-weight: bold;
}
.content-desc {
  color: #fff;
  font-size: 30upx;
  margin-top: 20upx;
  line-height: 40upx;
}
.music-name {
  flex-direction: row;
  align-items: center;
  margin-top: 20upx;
}
.music-image {
  width: 34upx;
  height: 34upx;
}
.play-status {
  position: fixed;
  left: 0;
  right: 0;
  height: 100upx;
  z-index: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.play-status-img {
  width: 80upx;
  height: 80upx;
  opacity: 0.6;
}
.pub-video-select {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.pub-video-ul {
  height: 360upx;
  background-color: #fff;
  border-top-right-radius: 30upx;
  border-top-left-radius: 30upx;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 90upx;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.pub-video-li {
  width: 240upx;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 280upx;
}
.pub-video-img {
  width: 60upx;
  height: 60upx;
}
.pub-video-text {
  color: #333;
  margin-top: 20upx;
  font-size: 30upx;
}
.pub-video-close {
  position: absolute;
  bottom: 20upx;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}
.pub-video-close-wrap {
  width: 76upx;
  height: 76upx;
  border-radius: 50%;
  background-color: rgba(204,204,204,0.2);
  justify-content: center;
  align-items: center;
}
.pub-video-close-img {
  width: 30upx;
  height: 30upx;
  opacity: 0.7;
}
.home-search {
  position: fixed;
  left: 0;
  right: 0;
  height: 100upx;
  justify-content: space-between;
  flex-direction: row;
}
.home-search-center {
  width: 200upx;
  height: 100upx;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.home-search-title {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 70upx;
}
.home-search-title-txt {
  color: #fff;
  opacity: 0.6;
  font-size: 36upx;
  font-weight: bold;
}
.home-search-title-active {
  opacity: 1;
}
.home-search-title-line {
  background-color: #fff;
  border-radius: 10upx;
  height: 4upx;
  position: absolute;
  bottom: 0;
  left: 16upx;
  right: 16upx;
}
.search-fr {
  align-items: center;
  height: 100upx;
  width: 100upx;
  justify-content: center;
}
.search-fr-image {
  width: 40upx;
  height: 40upx;
  opacity: 0.6;
}
.home-live-fl {
  width: 100upx;
  height: 100upx;
  justify-content: center;
  align-items: center;
}
.status-app {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #111118;
}
