@import "F:\Sourse\网页模版\fn\fn.styl"
@import "theme.styl"

// nvue

.flex
	flex-direction column

	background-color #f60

.app-footer
	position fixed
	left 0
	right 0
	bottom 0
	z-index 2
	background-color rgba(#000, .6)
	padding 5px 0
.app-footer-ul
	flex-direction row
	
.app-footer-li
	flex 1
	height 90upx
	flex-direction column
	align-items center
	justify-content center
	
.app-footer-li-white
	color rgba(#fff, .6)
	font-size 26upx
	margin-top 8px

.app-footer-li-active
	color bg
		
.app-footer-li-ico
	width 40px
	height 40px

.app-footer-li-ico1
	width 70px
	height 70px

.app-footer-li-center
	widthZ 70px
	background-color #fff
	border-radius 50%
	overflow hidden

.home-video-wrap
	flex 1
	
.home-myvideo
	flex 1

.home-personal
	position fixed
	right 30upx

.home-personal-img
	width 30px
	height 30px

.home-personal-span
	color #FFFFFF
	font-size 24px
	