@import "F:\Sourse\网页模版\fn\fn.styl"

swiper
view
text
    line-height 1
    box-sizing border-box
    font-size 30px
    color #333
    word-break break-all

rich-text
    line-height 1.8
textarea
input
    box-sizing border-box
    font-size 30px
    color #333
    line-height 1

navigator
    box-sizing border-box

checkbox
    transform scale(0.8)
    padding 0
    margin 0
    box-sizing border-box
    line-height 1

button
    margin 0
    padding 0
    box-sizing border-box

::-webkit-scrollbar
    width 0
    height 0
    background-color transparent

image
    vertical-align top

uni-page-refresh
.uni-page-refresh
    top calc(45px + 90px)

.font
	font-family 'din'