@import "fn.styl"
@import "theme.styl"

.status-bar
	height var(--status-bar-height)
	&.bg1
		backgroundL #1d0759 #3d1055 left
	&.fixed
		position fixed
		left 0
		right 0
		top 0
		z-index 10
		&.white
			background #fff

.app
	float left
	width 100%
	position relative
	background-color color1

.pub-flex-center
	position absolute
	top 0
	right 0
	bottom 0
	left 0
	display flex
	flex-direction column
	justify-content center
.w
	padding 0 30px
	float left
	width 100%

.bg-one
	background #f7f7f7

.bg-two
	background #f5f5f5

.bg-three
	background #f9fbfc

.bg-four
	background #f3f8fc

.bg-five
	background #f8f8f8
.fl
	float left

.fr
	float right

.mt20
	margin-top 20px
.mt40
	margin-top 40px
.mt60
	margin-top 60px

// input
.placeholder-class
	color font-color

// navigaror 无背景
.hover-class
	background none
	opacity 1

// 选择默认的颜色
.select-active
	color #bebebe

// 图片底色
.pub-img-back
	background #e5e5e5

// 返回
.icon-return
	// back1 '../../src/static/img/f54b12_17x30.png' 17px
	height 100%
	width 100px

// 下拉选择背景
.pub-select
	height 100%
	.option
		color #bbbbbb
		display block

.flex-center
	height 100%
	display flex
	align-items center

.flex-page
	display flex
	flex-direction column
	.shrink
		flex-shrink 0
	.grow
		flex-grow 1
		display flex
		flex-direction column
		.flex
			flex-grow 1

.pub-null
	height 150px
	float left
	width 100%

.pub-button
	fw 1
	.btn
		height 90px
		border-radius 60px
		linear 1
		color #fff
		text-align center
		display block
		font-size 34px
		line-height 90px

.pub-fixed-button
	position fixed
	left 0
	right 0
	bottom 0
	background #f7f7f7
	padding 30px 30px
	z-index 99
	&.back
		background #fff
	&.two
		display flex
		justify-content space-between
		text
			width 49%
	navigator
	text
		height 88px
		display flex
		align-items center
		justify-content center
		border-radius 6px
		font-size 32px
	.btn
		background theme-color
		color #fff
		&.red
			background error-color
	.fl
		border 1px solid #aaaaaa
		text-align center
		color #626262
		background #fff
		

.fast-button
	fw 1
	margin-top 200px
	padding 0 60px
	.ico-login
		float right
		width 110px
		height 110px
		background-color theme-color
		border-radius 50%
		box-shadow 0 10px 36px rgba(#45d889,.36)
		&:active
			background-color #1ca55c



// 上传样式
.pub-upload
	fw 1
	.ul
		fw 1
		.li
			width 215px
			height 210px
			overflow hidden
			border-radius 15px
			float left
			margin-left 25px
			position relative
			ml 0 3
			background #f7f7f7
			.delete
				position absolute
				left 0
				right 0
				bottom 0
				color #fff
				font-size 24px
				line-height 2
			&:nth-child(n+4)
				margin-top 20px
			image
				width 100%
				height 100%
				float left
			video
				width 100%
				height 100%
				object-fit cover
				object-position center center
				float left
			text
				position absolute
				left 0
				right 0
				bottom 0
				background rgba(#000, .6)
				color #fff
				text-align center
				font-size 24px
				line-height 1.6
				
.pub-list
	&.full
		.ul
			.li
				box-shadow none
				padding 26px 0 0
				border-top 1px solid #f2f2f3
				border-topN 1
				margin-top 0
				border-radius 0
	.ul
		fw 1
		.li
			background #fff
			box-shadow 0 0 12px rgba(#000,.06)
			fw 1
			padding 38px 34px 0
			border-radius 12px
			margin-top 20px
			.detail
				fw 1
				height 100%
	.per-pic
		fw 1
		.pict
			float left
			widthZ 88px
			background #f7f7f7
			border-radius 50%
			overflow hidden
			navigator
				display block
				height 100%
				width 100%
				border-radius 50%
				overflow hidden
			image
				height 100%
				width 100%
		.text
			float left
			margin-left 22px
			display flex
			flex-direction column
			justify-content space-around
			height 88px
			width 350px
			.h2
				font-size 28px
				color #0c0c0c
			.span
				font-size 24px
				color #6d6d6d
		.follow
			border 1px solid theme-color
			color #3ec87e
			float right
			min-width 142px
			text-align center
			line-height 60px
			border-radius 50px
			padding 0 20px
			font-size 28px
			&.acti
				border-color #797979
				color #797979
		.fr
			height 88px
			display flex
			align-items center
			text
				display block
				width 142px
				height 60px
				border-radius 60px
				border 1px solid theme-color
				color theme-color
				text-align center
				display flex
				align-items center
				justify-content center
	.desc
		fw 1
		font-size 28px
		margin-top 30px
		line-height 1.6
		margin-bottom 25px
		ov 2
		text
			display block
			line-height 1.6
		&.all
			-webkit-line-clamp initial
	.group
		fw 1
		swiper
			display block
			width 100%
			height 417px
		.one
			fw 1
			position relative
			background #f7f7f7
			overflow hidden
			border-radius 15px
			&.video
				height 450px
			image
				width 100%
				border-radius 15px
				height 100%
			video
				width 100%
		.two
			fw 1
			display flex
			justify-content space-between
			padding-top 0
			image
				width 100%
				height 100%
				float left
			.item
				border-radius 10px
				overflow hidden
				border 1px solid #ccc
			&.pict-1
				.item
					flex 1 1 auto
					height 380px
				.img
					border 1px solid #000
			&.pict-2
				.item
					flex 1 1 auto
					height 320px
				.img1
					margin-left 20px
			&.pict-3
				.item
					flex 1 1 auto
					height 234px
				.img1
					margin-left 14px
			&.pict-4
				flex-wrap wrap
				.item
					flex 1 1 auto
					height 320px
				.img1
					margin-left 20px
			&.pict-5
				flex-wrap wrap
				justify-content flex-start
				.item
					width 30%
					height 200px
					margin-left 2%
					ml 0 3
					&:nth-child(n+4)
						margin-top 15px
			&.pict-6
				flex-wrap wrap
				.item
					flex 1 1 auto
					height 320px
				.img1
					margin-left 20px
			&.pict-7
				flex-wrap wrap
				.item
					flex 1 1 auto
					height 320px
				.img1
					margin-left 20px
			&.pict-8
				flex-wrap wrap
				.item
					flex 1 1 auto
					height 320px
				.img1
					margin-left 20px
			
		.video
			position relative

		&.picture-1
			.one
				height 412px
		&.picture-2
			.one
				fre 1
				width 48% !important
				height 300px
				box-shadow 0 0 10px rgba(#000, .06)
				&:nth-child(n + 3)
					margin-top 25px
		&.picture-3
			display flex
			justify-content space-between
			.one
				float left
				width 32%
				height 200px
		&.picture-4
			display flex
			justify-content space-between
			.one
				float left
				width 32%
				height 200px
		&.picture-5
			display flex
			flex-wrap wrap
			.one
				float left
				width 31%
				height 200px
				margin-left 2%
				ml 0 3
				border 1px solid #e1e1e1
				&:nth-child(n+4)
					margin-top 15px
		&.picture-6
			display flex
			justify-content space-between
			flex-wrap wrap
			.one
				float left
				width 32%
				height 200px
		&.picture-7
			display flex
			justify-content space-between
			flex-wrap wrap
			.one
				float left
				width 32%
				height 200px
		&.picture-8
			display flex
			justify-content space-between
			flex-wrap wrap
			.one
				float left
				width 32%
				height 200px




// 搜索
.pub-search
	.box
		background #f2f2f3
		border-radius 60px
		height 72px
		input
			height 100%
			widthC 78px
			float left
			font-size 28px

// 发送消息
.pub-send
	position absolute
	left 0
	right 0
	bottom 0
	padding 15px 28px
	display flex
	justify-content space-between
	input
		width 501px
		height 60px
		border-radius 6px
		background #f2f2f3
		font-size 26px
		padding 0 27px
	text
		width 46px
		height 60px
		// &.ico-text
			// back1 '../../src/static/img/e84bf6_46x47.png' 46px
			// float left
		// &.ico-emjio
			// back1 '../../src/static/img/3f7626_46x46.png' 46px
		// &.ico-add
			// back1 '../../src/static/img/a6c2df_45x46.png' 46px
			// margin-left 17px
	.fr
		text
			float left

.ui-button
	border 1px solid theme-color
	border-radius 60px
	font-size 28px
	height 60px
	padding 0 20px
	display flex
	align-items center
	justify-content center
	color theme-color
	min-width 142px
	&.active
		border 1px solid #aaaaaa
		color #797979

.ico-play
	center 3
	cursor pointer
	widthZ 79px
	// back '../../src/static/img/897825_79x79.png'
	z-index 1

.fabu-post
	padding 15px 30px
	position fixed
	left 0
	right 0
	bottom 0
	.fatie
		width 299px
		heightL 72px
		border-radius 50px
		background theme-color
		dm 1
		box-shadow 0 0 8px rgba(#969696, .52)
		text-align center
		text
			color #fff
			font-size 32px
			// backi '../../src/static/img/73bb81_30x31.png' 40px
			line-height 31px
			background-size 30px
.pub-comment
	padding 15px 30px
	position fixed
	left 0
	right 0
	bottom 0
	background #fff
	box-shadow 0 -5px 24px rgba(#c0c0c0, .26)
	.u
		float left
		font-size 28px
		heightL 70px
	
	
	input
		font-size 28px
		width 553px
		height 72px
		background #f2f2f3
		padding 0 26px
		border-radius 6px
		float left
		margin-left 10px
	.btn
		color theme-color
		float right
		heightL 70px
		
.pub-comment-null
	height 100px
	fw 1
	
.pub-search1
	fw 1
	height 80px
	border-radius 10px
	display flex
	margin-top 20px
	.wrap
		background #f2f2f3
		height 100%
		float left
		flex 1 1 auto
		display flex
	input
		height 100%
		flex 1 1 auto
		border-radius 6px
	.search-btn
		border-radius 6px
		line-height 80px
		display block
		float right
		margin-left 15px
		background theme-color
		color #fff
		padding 0 25px

.alert-jubao
	position fixed
	left 0
	right 0
	bottom 0
	top 0
	background rgba(#000, .6)
	z-index 99
	.layout
		background #fff
		position absolute
		left 0
		right 0
		bottom 0
		.ul
			fw 1
			padding 38px 0
			.li
				float left
				margin-left 42px
				text-align center
				image
					width 96px
					height 96px
				text
					display block
					font-size 24px
					margin-top 14px
					color #999
		.cancel
			fw 1
			border-top 1px solid #dcdcdc
			text-align center
			font-size 28px
			color #999999
			padding 34px 0

.report-page
	fw 1
	padding 28px 28px
	textarea
		height 264px
		background-color #f4f4f4
		border-radius 10px
		padding 28px 30px
		font-size 26px
		width 100%
	.btn
		heightL 88px
		background theme-color
		color #fff
		border-radius 6px
		font-size 32px
		text-align center
		fw 1
		margin-top 75px

.process-wrapper
	margin-top 60px
	fw 1
	.value
		display block
		text-align center
		fw 1
		margin-bottom 10px
	.process
		fw 1
		height 30px
		border-radius 24px
		overflow hidden
		background-color #e6e6e6
		text
			display block
			float left
			height 100%
			background theme-color
