@import "fn.styl"
@import "theme.styl"

.register-page
	fw 1
	height 100%
	background color1
	.ul
		fw 1
		margin-top 95px
		padding 0 26px
		.li
			fw 1
			border-bottom solid .5px border-color
			height 108px
			display flex
			input
				height 100%
				text-align left
				float left
				flex-grow 1
				padding-right 15px
				color font-color
			.fr
				color font-color
				line-height 108px
				flex-shrink 0
	.button
		fw 1
		padding 0 30px
		margin-top 92px
		.btn
			background-color #aaaaaa
			height 99px
			border-radius 60px
			color #fff
			line-height 99px
			display block
			text-align center
			font-size 34px
			&.active
				linear 1
.set-info
	height 100%
	fw 1
	padding-bottom 30px
	.title
		fw 1
		padding 66px 66px 0
		text
			font-size 34px
			display block
			line-height 1.4
			// color #ff4084
			// background linear-gradient(to right, red, blue)
			linear 1
			-webkit-background-clip text
			color transparent
	.ul
		fw 1
		margin-top 30px
		.li
			fw 1
			padding 0 63px
			margin-top 54px
			> text
				display block
				color #fff
			.pict
				widthZ 122px
				margin-top 51px
				border-radius 50%
				overflow hidden
				image
					width 100%
					height 100%
			.wrap
				fw 1
				margin-top 18px
				border-bottom solid 1px border-color
				height 80px
				input
					height 100%
					float left
					color font-color
					width 550px
				.ico-down
					float right
					width 70px
					height 100%
					back1 '../../src/static/img/c930c5_128x128.png' 26px
			.box
				fw 1
				margin-top 51px
				.item
					float left
					width 124rpx
					position relative
					margin-right 100px
					&.active
						&:after
							content ''
							position absolute
							width 40px
							height 40px
							right 0
							top 50%
							back '../../src/static/img/12649c_40x40.png'
						
					.gender
						width 124px
						height 124px
						border-radius 50%
						box-shadow 0 3px 10px rgba(#000, .5)
						image
							width 100%
							height 100%
					text
						display block
						text-align center
						color theme
						margin-top 10px
						color font-color
	.button
		fw 1
		margin-top 105px
		padding 0 105px
		.btn
			height 96px
			linear 1
			color #fff
			width 100%
			display block
			border-radius 60px
			line-height 96px
			text-align center
				
			
.login-page
	height 100%
	background-color color1
	position relative
	overflow hidden
	padding-top 28%
	.logo
		text-align center
		position relative
		z-index 2
		image
			width 100px
			height 100px
	.back
		position absolute
		z-index 0
		top 0
		left 0
		right 0
		bottom 0
		opacity .4
		image
			width 100%
			height 100%
	.tabs-login
		position relative
		z-index 2
		fw 1
		margin-top 110px
		text
			float left
			text-align center
			width 50%
			line-height 3
			font-size 34px
			position relative
			color font-color
			&:nth-child(2)
				&:before
					content ''
					position absolute
					width 1px
					height 40px
					background-color font-color
					left 0
					top 50%
					margin-top -20px
			&.active
				position relative
				color #fff
				&:after
					content ''
					position absolute
					width 60px
					height 6px
					background-color #fff
					center 1
					bottom 0
					border-radius 6px
	.ul
		position relative
		z-index 2
		margin-top 32px
		fw 1
		.li
			fw 1
			padding 0 95px
			margin-top 48px
			.get-code
				float right
				color font-color
				heightL 90px
			input
				height 90px
				border-radius 60px
				background-color color2
				padding 0 30px
				color #fff
				&.short
					width 400px
					float left
			.button2
				height 90px
				border-radius 60px
				linear 1
				color #fff
				text-align center
				display block
				font-size 34px
				line-height 90px
			.navig
				float right
				color font-color
				
	.other-user
		position absolute
		left 0
		right 0
		bottom 90px
		text-align center
		z-index 2
		color font-color
		text-decoration underline
		
.footer
	position fixed
	left 0
	right 0
	bottom 0
	box-shadow 0 -4px 6px rgba(#000, .2)
	z-index 9
	background-color rgba(#000, .9)
	.ul
		.li
			float left
			width 20%
			text-align center
			line-height 90px
			.ico
				
			.span
				color font-color
			.cirl
				widthZ 60px
				background-color #ccc
				display block
				margin 0 auto
				border-radius 50%
				margin-top 15px
			
.video-tabs
	height 100vh
	position relative
	video
		height 100%
		width 100%

.task-tabs
	fw 1
	padding 0 38px
	background-color color1
	.notice
		fw 1
		padding-top 30px
		.ul
			display flex
			justify-content space-between
			.li
				width 145px
				height 80px
				image
					width 100%
					height 100%
					border-radius 18px
	.list
		fw 1
		height calc(100vh - 199px - 90px)
		overflow hidden
		overflow-y auto
		margin-top 30px
		padding-bottom 30px
		.ul
			.li
				fw 1
				padding 20px 28px
				border-radius 26px
				margin-top 30px
				mt 0
				.h2
					color #fff
					font-weight bold
				.layout
					fw 1
					margin-top 25px
					.fl
						width 470px
						.span
							color #fff
							display block
							line-height 1.5
							font-size 24px
					.fr
						.span
							color #fff
							border solid 1px #fff
							display inline-block
							padding 8px 35px
							border-radius 30px
				.activity
					fw 1
					display flex
					justify-content space-between
					margin-top 25px
					text
						color #fff
						font-size 26px
			
			
			.bg1
				backgroundL #ded161 #ff6750 left
			.bg2
				backgroundL #1791fb #ff6750 left
			.bg3
				backgroundL #ff3473 #ff6750 left
			.bg4
				backgroundL #cb22b4 #ff6750 left
			.bg5
				backgroundL #aa48bf #bf22bb left
			.bg6
				backgroundL #3f9b2c #132a7a left
			.bg7
				backgroundL #107bfd #0f7fff left
			.bg8
				backgroundL #c923b5 #bf22bb left
			.bg9
				backgroundL #1388fc #bd22bb left

.set-page
	fw 1
	height 100%
	background color1
	.ul
		fw 1
		margin-top 25px
		padding 0 20px
		background-color color2
		.li
			fw 1
			height 90px
			border-top solid 1px border-color
			border-topN 1
			.span
				line-height 90px
				color font-color
			.fr
				.sp1
					line-height 90px
					display block
					color font-color
			&.more
				background url(../../src/static/img/13da7a_128x128.png) right center/30px no-repeat
				.fr
					padding-right 40px
					

.modify-user
	fw 1
	padding 30px 30px
	input
		height 100px
		border-bottom solid .5px border-color
		color font-color
	.pub-button
		margin-top 30px

.setpass-page
	fw 1
	padding 30px 30px
	.ul
		fw 1
		padding-bottom 50px
		.li
			fw 1
			height 100px
			border-bottom solid .5px border-color
			input
				height 100%
				color #fff
				&.short
					width 50%
					float left
			.get-code
				float right
				line-height 100px
				color #fff
				
			
.binddata-page
	fw 1
	padding 30px 30px
	.ul
		fw 1
		padding-bottom 50px
		.li
			fw 1
			border-bottom solid .5px border-color
			display flex
			.span
				color font-color
				float left
				flex-shrink 0
				line-height 100px
			.fr
				flex-grow 1
				padding-left 30px
			input
				height 100px
				color #fff
				width 100%
			.picker-type
				line-height 100px
				color #fff
				background url(../../src/static/img/c930c5_128x128.png) right center/28px no-repeat
				padding-right 40px
	.tips
		fw 1
		margin-top 40px
		.p
			display block
			line-height 1.6
			color font-color
					
					
.my-code
	fw 1
	padding-top 30px
	.picture
		width 600px
		margin 0 auto
		image
			width 100%

.grade
	fw 1
	padding-top 60px
	.ul
		.li
			fw 1
			padding 0 30px
			text
				display block
				color #fff
				line-height 90px
					
	
.transaction
	fw 1
	padding-top 30px
	.tabs
		fw 1
		display flex
		flex-direction row
		.span
			flex 1
			text-align center
			line-height 80px
			color #fff
			background color2
			transition 0.2s
			&.active
				background bg
	.ul
		fw 1
		margin-top 20px
		.li
			fw 1
			padding 30px 30px
			border-top 1px solid border-color
			.h2
				color #fff
				display block
				fw 1
			.dou
				fw 1
				margin-top 20px
				text
					color font-color

.agent-page
	fw 1
	height 100%
	padding 20px 30px
	.box
		height 100%
		background-color color2
		border-radius 20px
		.ul
			fw 1
			.li
				fw 1
				display flex
				padding 0 30px
				height 100px
				border-bottom solid 1px border-color
				align-items center
				.span
					float left
					color #fff
					flex-shrink 0
				.fr
					flex 1 1 auto
					padding-left 15px
					input
						width 100%
						color #fff
					&.more
						background url(../../src/static/img/2581ab_14x24.png) right center/14px no-repeat
		.tips
			fw 1
			padding 50px 30px
			.p
				color font-color
				font-size 26px
				line-height 1.5

.alert-box
	fixed 1 .8
	.layout
		width 602px
		// height 309px
		background-color #fff
		border-radius 16px
		center 3
		.ul
			fw 1
			padding 25px 0
			.li
				fw 1
				display flex
				align-items center
				padding-left 150px
				.span
					line-height 80px
					margin-left 20px
				.ico
					float left
					width 36px
					height 36px
					border-radius 50%
					border solid 2px check-color
				&.active
					.ico
						back '../../src/static/img/d7b615_128x128.png'
						border none
		.btn
			fw 1
			border-top solid 1px #ccc
			text
				float left
				width 50%
				text-align center
				line-height 100px
				&:nth-child(2)
					border-left solid 1px #ccc

.reel-tabs
	fw 1
	background color2
	text
		float left
		width 50%
		text-align center
		color #fff
		line-height 90px
		transition 0.3s
		&.active
			linear 1
.reel-page
	fw 1
	.ul
		.li
			fw 1
			padding 40px 30px
			background color2
			margin-top 10px
			.pict
				float left
				width 146px
				height 146px
				image
					width 100%
					height 100%
			.text
				widthC 146px
				float right
				padding-left 24px
				.juan
					fw 1
					display flex
					align-items center
					justify-content space-between
					.fl
						color #fff
						font-size 36px
					.fr
						color #fff
						font-size 28px
				.huo
					fw 1
					margin-top 15px
					text
						line-height 1.6
						font-size 24px
					.p
						fw 1
						color font-color
					.wrap
						fw 1
						display flex
						justify-content space-between
						.fl
							color font-color
							ov 1
						.fr
							color font-color
							flex-shrink 0
				.progress
					fw 1
					margin-top 18px
					display flex
					align-items center
					justify-content space-between
					.wrap
						float left
						flex-grow 1
						height 26px
						background-color color1
						border-radius 30px
						overflow hidden
						text
							display block
							background-color check-color
							height 100%
							float left
							border-radius 13px
							transition .3s
					.span
						color #fff
						font-size 26px
						margin-left 20px
					
.team-page
	fw 1
	.team-title
		fw 1
		padding 0 24px
		.wrap
			fw 1
			background-color color2
			border-radius 20px
			margin-top 46px
			.people
				fw 1
				text-align center
				padding-top 50px
				.b
					display block
					color font-color
				.p
					display block
					color #fff
					font-size 56px
					margin-top 25px
			.info
				fw 1
				margin-top 50px
				border-top solid 1px border-color
				padding 50px 0
				.ul
					.li
						float left
						width 33.33%
						text-align center
						.b
							display block
							color font-color
						.p
							display block
							color #fff
							font-size 36px
							margin-top 25px
	.list
		fw 1
		padding 0 24px 0
		margin-top 25px
		.ul
			.li
				fw 1
				background-color color2
				border-radius 20px
				padding 39px 32px
				margin-top 15px
				.fl-layout
					float left
					width 134px
					display flex
					flex-direction column
					justify-content center
					align-items center
					.pict-wrap
						float left
						width 100%
						position relative
						.leval1
							position absolute
							widthZ 40px
							background-color #6a25e2
							border-radius 50%
							border solid 4px color2
							text-align center
							box-sizing content-box
							right 0
							bottom -10px
							display flex
							align-items center
							justify-content center
							text
								color #fff
								font-size 26px
								transform scale(.72)
						.pict
							float left
							width 134px
							height 134px
							border-radius 50%
							image
								width 100%
								height 100%
					.label
						float left
						color #fff
						text-align center
						linear 1
						line-height 41px
						border-radius 50px
						font-size 24px
						width 108px
						margin-top 23px
				.text
					float left
					widthC 134px
					padding 10px 0 0 35px
					position relative
					.h2
						color #fff
						font-size 36px
						display block
					.yue
						position absolute
						right 0
						padding-top 10px
						top 0
						// border solid 1px #f60
						bottom 0
						display flex
						align-items flex-start
						flex-direction column
						width 38%
						justify-content space-between
						.b
							color font-color
							font-size 26px
					.time
						margin-top 20px
						fw 1
						.p1
							color font-color
							float left
							font-size 26px
						.p2
							color #fff
							float left
							margin-left 20px
							font-size 26px
					.phone
						margin-top 67px
						fw 1
						.id
							color font-color
							float left
						.number
							color #fff
							float left
							margin-left 10px


.opening-page
	fw 1
	padding 30px
	.title
		height 329px
		border-radius 20px
		text-align center
		position relative
		width 572px
		margin 0 auto
		.title-box
			position relative
			z-index 2
			height 100%
			display flex
			flex-direction column
			align-items center
			justify-content center
		.back
			position absolute
			left 0
			right 0
			top 0
			bottom 0
			z-index 1
			image
				width 100%
				height 100%
		.h2
			color #fff
			display block
			font-size 40px
		.p
			color #fff
			display block
			margin-top 20px
			font-size 60px
			font-weight bold
	
	.text-page
		fw 1
		margin-top 40px
		.h1
			color #fff
			font-weight bold
			font-size 36px
		.p
			color #fff
			display block
			line-height 1.4
			margin-top 20px



.forget-page
	fw 1
	padding 0 30px
	.ul
		fw 1
		.li
			fw 1
			margin-top 30px
			display flex
			input
				border-radius 60px
				height 90px
				background-color color2
				padding 0 26px
				flex 1 1 auto
				color #fff
			.get-code
				flex-shrink 0
				color font-color
				line-height 100px
				display block
				margin-left 30px

.address-manage-page
	margin-top 20px
	fw 1
	.ul
		background color2
		fw 1
		.li
			fw 1
			border-top 1px solid border-color
			border-topN 1
			.box
				padding 28px 0
				fw 1
			.fl
				width 75%
				margin-left 28px
				.one
					fw 1
					text
						font-size 28px
						float left
					.s1
						width 152px
						color #fff
					.s2
						color #fff
				.two
					fw 1
					margin-top 20px
					position relative
					.p
						font-size 24px
						color font-color
			
			.fr
				.edit
					back1 '../../src/static/img/d2714c_24x23.png' 24px
					float right
					width 100px
					height 60px
					display block
					margin-top 10px

			
.newconsignee-page
	fw 1
	.ul
		padding 0 28px
		.li
			width 100%
			height 88px
			border-top 1px solid border-color
			border-topN 1
			position relative
			.span
				float left
				width 154px
				line-height 88px
				color font-color
			text
				line-height 88px
				color #999
				&.acti
					color #fff
			text
			input
				float right
				widthC 154px
				height 88px
			input
				color #fff
			.address
				position absolute
				width 26px
				height 100%
				right 0
				top 0
				back1 '../../src/static/img/0aff0f_26x32.png' 26px
		
	.pub-button
		margin-top 81px
		padding 0 28px

.personal-page
	fw 1
	padding 0 30px
	.pict-wrap1
		widthZ 178px
		margin 100px auto
		position relative
		.pict
			width 100%
			height 100%
			border-radius 50%
			overflow hidden
			image
				width 100%
				height 100%
		.box
			position absolute
			left 0
			right 0
			bottom 0
			top 0
			border-radius 50%
			back1 '../../src/static/img/0d89cc_158x128.png' 60px
			background-color rgba(#000, .4)
	.ul
		fw 1
		border-top solid 1px border-color
		.li
			height 120px
			display flex
			justify-content space-between
			align-items center
			padding 0 30px
			.span
				float left
				color font-color
				width 160px
			.fr
				padding-left 20px
				.field
					opacity .6
					color #fff
					background url(../../src/static/img/7a4bce_14x24.png) right center/14px no-repeat
					padding-right 24px
			
	
.video-page
	fw 1
	.number
		fw 1
		padding 0 30px
		.ul
			.li
				float left
				width 33.33%
				text-align center
				.h2
					color #fff
					font-weight bold
				.span
					color font-color
					margin-left 6px
	.video-tabs1
		fw 1
		margin-top 40px
		text
			float left
			width 50%
			text-align center
			color #fff
			line-height 100px
			&.active
				font-weight bold
				position relative
				&:after
					content ''
					position absolute
					left 0
					right 0
					height 6px
					background-color bg
					bottom 0
	.video-list
		fw 1
		.ul
			fw 1
			.li
				width 244px
				height 244px
				position relative
				float left
				margin-left 9px
				ml 0 3
				overflow hidden
				margin-top 9px
				video
					width 100%
					height 100%
				.play
					position absolute
					backi '../../src/static/img/f3d1ca_101x128.png' 30px
					background-size 20px
					color #fff
					white-space nowrap
					left 20px
					bottom 20px
				image
					width 100%
					height 100%
		.no-more
			fw 1
			color font-color
			text-align center
			padding 50px 0
	.video-layout
		padding 60px 35px 80px
		fw 1
		.pict
			float left
			widthZ 150px true
			background color2 
		.text
			float left
			widthC 150px
			padding 15px 0 15px 35px
			height 150px
			display flex
			flex-direction column
			justify-content space-around
			position relative
			text
				color #FFFFFF
				display block
			.p
				font-size 36px
			.span
				color font-color
				font-size 26px
				display block
				ov 1
				width 300px
			.modify
				center 2
				right 0
				color #999999
				font-weight bold
				white-space nowrap
				background-color color2
				padding 20px 40px
				border-radius 4px
			.jubao
				right 0
				top 0
				position absolute
				center 2
				text
					width 160px
					heightL 50px
					border-radius 60px
					background-color bg
					text-align center
					margin-top 15px
					mt 0
					&.cancel
						background color2
					
.service-page
	fw 1
	.ul
		.li
			fw 1
			margin-top 80px
			.pict
				widthZ 250px
				margin 0 auto
				image
					width 100%
					height 100%
			.p
				color #fff
				display block
				text-align center
				margin-top 20px

.detail-page
	fw 1
	.banner
		background-color #f1f1f1
		height 400px
		position relative
		.paging
			widthZ 60px
			border-radius 50%
			background-color rgba(#000, .3)
			position absolute
			z-index 3
			bottom 10px
			right 20px
			color #fff
			display flex
			align-items center
			justify-content center
			font-size 24px
		swiper
			height 100%
		.ul
			height 100%
			.li
				float left
				image
					width 100%
					float left
					height 100%
	.title
		background-color color2
		padding 30px 30px
		margin-top 20px
		fw 1
		text
			display block
		.h2
			color #fff
			font-size 34px
		.price
			fw 1
			margin-top 30px
			.p
				color bg
				float left
			.b
				text-decoration line-through
				color font-color
				float left
				margin-left 20px
	.guige
		fw 1
		margin-top 20px
		padding 0 30px
		background-color color2
		.ul
			.li
				fw 1
				border-top solid 1px border-color
				border-topN 1
				text
					color #fff
					line-height 100px
					display block
				.more
					background url(../../src/static/img/7a4bce_14x24.png) right center/14px no-repeat
	.context
		fw 1
		.tt
			text-align center
			df 1
			justify-content center
			padding 35px 0
			text
				display block
			.h2
				color #fff
				margin 0 15px
			.line
				height 2px
				background-color #fff
				width 60px
		.context-wrap
			fw 1
			padding 0 30px
			rich-text
				line-height 1.5
			image
				width 100%
				

.detail-bottom
	position fixed
	left 0
	right 0
	bottom 0
	background-color color2
	padding 25px 30px
	text
		border-radius 10px
		width 45%
		df 1
		justify-content center
		height 80px
		&.fl
			color bg
			border solid 1px bg
		&.fr
			color #fff
			background-color bg
			
.news-page
	fw 1
	padding 80px 30px 20px
	.title
		fw 1
		text
			display block
		.h2
			color #fff
			font-size 36px
			line-height 1.5
		.p
			color font-color
			margin-top 25px
	.content
		fw 1
		margin-top 30px
		border-top solid 1px border-color
		.p
			line-height 1.5
			color font-color
			margin-top 50px
			display block
		image
			width 100%
		rich-text
			color #fff
			line-height 1.4
		
.businessman-page
	fw 1
	padding 0 30px 30px
	.ul
		fw 1
		.li
			fw 1
			margin-top 25px
			background-color color2
			border-radius 8px
			padding 0 20px
			.type
			input
				height 80px
				color #fff
				width 100%
			.type
				display block
				color font-color
				line-height 80px
				background color2 url(../../src/static/img/7a4bce_14x24.png) right center/14px no-repeat
	.ul1
		fw 1
		border-top solid 1px border-color
		margin-top 50px
		padding-top 50px
		.li
			fw 1
			margin-bottom 62px
			.h2
				color font-color
				font-size 34px
				display block
				text-align center
			.input
				fw 1
				border-radius 8px
				background-color color2
				padding 0 20px
				margin-top 20px
				mt 50px
				input
					height 80px
			.upload-area
				fw 1
				.pict
					width 385px
					height 226px
					margin 48px auto 0
					overflow hidden
					back1 '../../src/static/img/fe3840_100x100.png' 62px
					background-color color2
					image
						width 100%
				.desc
					color font-color
					display block
					text-align center
					line-height 1.4
					padding 0 20%
					margin-top 20px
					font-size 24px
				.h3
					color font-color
					font-size 30px
					display block
					text-align center
					margin-top 30px
					

.order-page
	fw 1
	.tabs
		fw 1
		background-color color2
		.txt
			float left
			width 16.66%
			text-align center
			color #fff
			line-height 90px
			&.active
				color bg
				position relative
				&:after
					content ''
					position absolute
					left 0
					right 0
					height 4px
					bottom 0
					background-color bg
	.ul
		.li
			fw 1
			padding 0 30px
			background-color color2
			margin-top 20px
			.one
				fw 1
				padding 25px 0
				.pict
					float left
					widthZ 150px
					position relative
					overflow hidden
					image
						width 100%
						min-height 100%
				.text
					widthC 150px
					float right
					padding-left 30px
					.h2
						color #fff
						display block
						line-height 1.4
					.price
						margin-top 25px
						df 1
						.del
							float left
							color font-color
							text-decoration line-through
							font-size 26px
						.p
							float left
							color font-color
							margin-left 30px
							font-size 26px
							df 1
							text
								color bg
								font-size 36px
					.span
						color font-color
						font-size 20px
						margin-top 20px
						df 1
						text
							color font-color
			.two
				fw 1
				padding 25px 0
				border-top solid 1px border-color
				.btn
					display flex
					justify-content flex-end
					text
						border solid 1px bg
						color bg
						margin-left 15px
						ml 0
						padding 15px 25px
						border-radius 60px
						flex-shrink 0
						font-size 26px

.params-alert
	position fixed
	left 0
	right 0
	bottom 0
	top 0
	background-color rgba(#000, .3)
	visibility hidden
	z-index 1
	&.active
		visibility initial
		.layout
			bottom 0
			opacity 1
	.layout
		position absolute
		left 0
		right 0
		bottom -1200px
		background-color color2
		min-height 800px
		transition .3s
		opacity 0
		.close
			position absolute
			right 30px
			top 30px
			widthZ 50px
			back1 '../../src/static/img/93b888_128x128.png' 36px
			opacity .6
			z-index 2
		.pict-wrap
			fw 1
			padding 80px 30px
			.pict
				widthZ 160px
				overflow hidden
				float left
				image
					width 100%
					min-height 100%
			.text
				float right
				widthC 160px
				df 5 2
				height 160px
				padding 10px 0 10px 30px
				text
					display block
					mt 0
				.h2
					color bg
					font-size 36px
					
				.p
					color font-color
		.params-wrap
			fw 1
			border-top solid 1px border-color
			.ul
				.li
					padding 20px 30px
					fw 1
					margin-top 30px
					.b
						color #fff
						line-height 50px
						display block
					.p
						width 120px
						heightL 60px
						text-align center
						background-color bg
						color #fff
						border-radius 6px
						display block
						margin-top 15px
					&.row
						display flex
						justify-content space-between
		.pub-button
			padding 60px 30px 30px
					
.fabu-page
	df 1
	justify-content space-between
	padding 0 30px
	text
		color #fff
		width 48%
		text-align center
		line-height 90px
		background-color color2
		&:nth-child(2)
			background-color bg

.cart-fixed-bottom
	position fixed
	left 0
	right 0
	bottom 0
	padding 20px 25px
	background-color color2
	.fl
		df 1
		height 60px
		.ico
			float left
			widthZ 32px
			border solid 1px border-color
			border-radius 4px
			&.active
				back '../../src/static/img/abf042_128x128.png'
				border none
		.sp1
			color bg
			float left
			margin-left 12px
	.fr
		.box1
			float left
			.s1
				float left
				line-height 60px
				color font-color
			.s2
				float left
				line-height 60px
				color bg
		.btn
			float left
			width 160px
			heightL 60px
			text-align center
			background-color bg
			color #fff
			border-radius 60px
			margin-left 20px

.cart-page-null
	height 100px
	fw 1
.cart-page
	fw 1
	.ul
		fw 1
		background-color color2
		margin-bottom 30px
		padding-top 30px
		.li
			fw 1
			margin-top 20px
			.check
				float left
				width 90px
				height 166px
				display flex
				align-items center
				.ico
					widthZ 40px
					border solid 1px border-color
					display block
					border-radius 50%
					margin 0 auto
				&.active	
					.ico
						back '../../src/static/img/ff0d5b_128x128.png'
						background-color #fff
						border none
				
			.pict
				width 166px
				height 166px
				float left
				overflow hidden
				image
					width 100%
					height 100%
			.text
				float left
				widthC 256px
				padding 15px 30px 0
				text
					color #fff
					display block
				.h2
					font-size 32px
					margin-top 20px
				.p
					font-size 24px
					margin-top 20px
				.price
					display flex
					justify-content space-between
					margin-top 20px
					.pb
						.d
							color bg
							float left
						.b
							float left
							margin-left 10px
		.count
			fw 1
			border-top solid 1px border-color
			padding 30px 30px
			margin-top 30px
			.p
				color #fff
				float right
					
.confirmation-page
	fw 1
	padding 30px
	.add-ress
		fw 1
		border-radius 20px
		background-color color2
		padding 0 30px
		.wrap
			backi '../../src/static/img/b052a9_128x128.png' 35px
			background-size 30px
			fw 1
			.select-address
				line-height 110px
				color font-color
				display block
				back2 '../../src/static/img/7a4bce_14x24.png' 14px
		.wrap1
			backi '../../src/static/img/f331c0_128x128.png' 80px
			background-size 60px
			fw 1
		.select
			fw 1
			padding 30px 0
			back2 '../../src/static/img/7a4bce_14x24.png' 14px
			.name
				fw 1
				text
					float left
				.h2
					color #fff
				.b
					color font-color
					margin-left 30px
			.p
				fw 1
				margin-top 20px
				color #fff
				padding-right 30px
				line-height 1.4
	.box2-mark
		fw 1
		padding-top 20px
		text
			color #fff
			float left
			line-height 60px
			width 150px
		textarea
			height 200px
			widthC 150px
			float right
			color #fff
			line-height 1.5
			padding 10px 0
	.ul
		fw 1
		margin-top 25px
		.li
			fw 1
			padding 30px
			border-radius 20px
			background-color color2
			.box1
				fw 1
				.pict
					widthZ 166px
					float left
					overflow hidden
					image
						width 100%
						min-height 100%
						max-height 100%
				.text
					float left
					widthC 166px
					padding-left 30px
					padding-top 10px
					text
						display block
						color #fff
					.h3
						color #fff
					.p
						color font-color
						margin-top 30px
					.b
						display flex
						justify-content space-between
						margin-top 30px
						.red
							color bg
						.gray
							color font-color
			
			.box3
				fw 1
				display flex
				margin-top 30px
				justify-content flex-end
				.s1
					color font-color
				.s2
					color bg
	
.alert-yaoyi
	position fixed
	left 0
	right 0
	bottom 0
	top 0
	background rgba(#000, .6)
	.layout
		background #fff
		border-radius 15px
		center 3
		width 90%
		margin-top -300px
		.h2
			display block
			line-height 100px
			text-align center
			border-bottom 1px solid #ccc
			font-size 34px
		input
			height 100px
			padding 0 30px
		.btn
			display flex
			flex-direction row
			justify-content space-between
			margin-top 40px
			text
				flex 1
				heightL 90px
				text-align center
				font-size 32px
			.s1
				border-radius 0 0 0 15px
				border-top 1px solid #ccc
			.s2
				border-radius 0 0 15px 0
				background bg
				color #fff

.tabs-wrap
	fw 1

.search-page
	fw 1
	padding 30px
	input
		fw 1
		height 80px
		background color2
		padding 0 20px
		color #fff
		
	.btn
		heightL 80px
		background bg
		color #fff
		font-size 30px
		display block
		margin-top 25px
		fw 1
		text-align center